.movie-img {
    display: block;
    height: 24rem;
    object-position: center;
}

.card-footer {
    display: flex;
    background-color: #fff !important;
    border-top: none !important;
    .btn:disabled {
        opacity: 1;
    }
    .fav-btn {
        margin-left: auto;
    }
}