$color: black;
$font-size: 1.2rem;
$margin: 10px;
$borde-radius: 5px;
$background-color: lightgray;

.main-view {
    display: inline-block;
    color: $color;
    font-size: $font-size;
    cursor: pointer;
}