.reg-container {
    margin: auto;
    margin-top: 50px;
    max-width: 60%;
    min-width: 480px;
}

.reg-btn {
    width: 100%;
    border-radius: 5px;
}

.title {
    color: #ec0868;
    font-style: italic;
    text-shadow: 2px 2px #ffc4d6;
    font-weight: 800;
    margin-bottom: 40px !important;
}