.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background-color: rgba($color: #ffc4d6, $alpha: 0.5);
    width: 100vw;
    height: 100vh;
    color: white;
    overflow: hidden;
    p {
        font-size: 2rem;
        font-weight: 600;
    }
}