@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffc4d6;
}

body, input, textarea, button{
    font-family: 'Roboto', sans-serif;
}